* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

img {
    display: none;
}

h1 {
    position: fixed;
    top: 10%;
    left: 40%;
    text-align: center;
    font-family: 'Creepster', cursive;
    color: black;
    cursor: pointer;
    display: none;
}

#canvas {
    font-family: 'Creepster', cursive;
    display: block;
}

#start-btn {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0;
}
